body {
}


.register-box {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 70px;
}

.login-box {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 70px;
}

.card.Itemformbox {
    padding: 20px !important;
}


.card.ProfileBox {
    padding: 20px !important;
}