@*@model IEnumerable<InvoiceManagementSystem.ViewModels.ItemsViewModels>*@
@{
    ViewData["Title"] = "AllItems";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div id="divi1"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="dropdown show">
                                    <a class="btn btn-outline-dark btn-lg dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        All Items
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Delete</button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <a asp-controller="Items" asp-action="AddItems" style="float: right; padding-top:10px"><h5> <i class="fa fa-plus"></i> New</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <table id="tblItems" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="col-1" style="text-align:center"><input type="checkbox" value="" class="" id="selectAll"></th>
                                <th>Name</th>
                                <th class="no-sort">Description</th>
                                <th>Rate</th>
                                <th>Unit</th>

                            </tr>
                        </thead>
                        <tbody id="t_Body">
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete these items ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete_Multiple">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<link href="~/Theme/Assets/Css/DataTable.css" rel="stylesheet" />
<script src="~/lib/jquery-3.6.0.js"></script>
<script src="~/Theme/Assets/js/DataTableJquery-3.5.1.js"></script>
<script src="~/Theme/Assets/js/Datatable.js"></script>
<script src="~/Theme/Assets/js/AllItems.js"></script>
