@model InvoiceManagementSystem.ViewModels.ItemsViewModels
@{
    ViewData["Title"] = "ItemOverview";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <!---Check box Card start-->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h2 class="card-title col-9" style="">All Items</h2>
                    <a class="col-2 " asp-controller="Items" asp-action="AddItems" style=""><i class="fa fa-plus"> New</i></a>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages" id="divTable">
                        <table id="MailBoxTable" class="table table-hover table-striped">
                        </table>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- End Checkbox card -->
        </div>
        <!--Items Detail Card Start-->
        <!-- /.col -->
        <div class="col-8" id="myDisplay">
        </div>

        <!-- /.content -->
    </div>
    @*Edit Modal-------------------------------------------------------------------------------------------------------------*@
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>*@

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div style="padding-left:25px;padding-top:10px;" class="row">
                    <h1>  Edit Items</h1>
                </div>

                <div style="margin:10px;" class="card Itemformbox">
                    <div style="" class="container">
                        <form class="form-group">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Types:</label>
                                    </div>
                                    <div class="col-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" id="radioDiv1" value="Goods">Goods
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" id="radioDiv2" value="Service">Services
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control txtitemsName" id="txtitemsName" placeholder="Items Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Unit</label>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-control txtItemsUnit" searchable="Search here.." id="txtItemsUnit">
                                            <option value="" disabled selected>Select</option>
                                            <option value="Meter">Meter (m)</option>
                                            <option value="Kilogram">Kilogram (kg)</option>
                                            <option value="Ampere">Ampere (A)</option>
                                            <option value="Kelvin">Kelvin (K)</option>
                                            <option value="Candela">Candela (cd)</option>
                                            <option value="liter">liter (l)</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Selling Price</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control txtsellingPrice" id="txtsellingPrice" placeholder="PKR" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Description</label>
                                    </div>
                                    <div class="col-8">
                                        <textarea class="form-control txtDescription" id="txtDescription" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Tax</label>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-control txtItemTax" searchable="Search here.." id="txtItemTax">
                                            <option value="" disabled selected>Select a Tax</option>
                                            <option value="5%">5%</option>
                                            <option value="10%">10%</option>
                                            <option value="20%">20%</option>
                                            <option value="30%">30%</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        <button type="button" id="btn_Update" class="btn btn-block btn-outline-success btn-lg">Update</button>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-block btn-outline-danger btn-lg" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Edit Modal*@
    @*-------------------------------------------------------------------------------------------------------------------------------*@
</div>

<script src="~/lib/jquery-3.6.0.js"></script>
<script >
    $(document).ready(function () {
        function loop(allItems) {
            console.log(allItems);
            var myRow;
            var myCard;
            $.each(allItems, function (index, item) {
                console.log(item);

                myRow = '<tr class="upd" target="' + item.item_ID + '"><td id="updDiv"><div target="' + item.item_ID + '"  class="icheck-primary"> <input type="checkbox" value="" class="master' + item.item_ID + '" id="check"> </div></td><td class="mailbox-name"><a>' + item.name + '</a></td></tr>';
                $('#MailBoxTable').append(myRow);
                myCard = '<div class="card" id="card' + item.item_ID + '" style="display:none"><div class="card-header" data-card-widget="collapse"><h1>' + item.name + '</h1> <h3 class="card-title">Overview</h3><div class="card-tools"><div class="row"><input type="text" id="divInput' + item.item_ID + '" value="' + item.item_ID + '" style="display:none"><div id="' + item.item_ID + '" class="divUpdate  col" target="' + item.item_ID + '"><a type="button" id="btnUpdate' + item.item_ID + '" target="' + item.item_ID + '" class="btn btn-tool" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-edit"></i></a></div><div id="" class="divDelete col" target="' + item.item_ID + '"><a type="button" id="btnDelete' + item.item_ID + '" target="' + item.item_ID + '" class="btn btn-tool"><i class="fas fa-trash"></i></a></div></div></div></div><div class="card-body"><div class="row"><div class="col-4">Item type</div><div class="col-8"><b>' + item.type + '</b></div></div><div class="row"><div class="col-4">Created Source</div><div class="col-8"><b></b></div></div><br /><div class="row"><div class="col-4"><b>Sales Information</b></div></div><div class="row"><div class="col-4">Selling Price</div><div class="col-8"><b>PKR ' + item.sellingPrice + '</b></div></div><div class="row"><div class="col-4">Description</div><div class="col-8">' + item.description + '</div></div></div></div>'
                $('#myDisplay').append(myCard);

            });
        }

        $.ajax({
            type: 'GET',
            url: '/Items/ItemOverviewList',
            dataType: 'json',
            success: function (allItems) {
                console.log(allItems);
                loop(allItems);

                $('.icheck-primary').click(function () {
                    if ($('.master' + $(this).attr('target')).is(":checked")) {
                        $('#card' + $(this).attr('target')).show();
                    }
                    else {
                        $('#card' + $(this).attr('target')).hide();
                    }
                });

                /*delete button--------------------------------------------------------------------------------------*/
                $('.divDelete').click(function () {
                    $('#btnDelete' + $(this).attr('target')).show(function () {

                        var proceed = confirm("do you want to Delete An item ?");
                        if (proceed) {
                            var Div_id = $('#divInput' + $(this).attr('target')).val();
                            console.log(Div_id);
                            var objDelete = { item_ID: Div_id };
                            console.log(objDelete);
                            $.ajax({
                                type: 'POST',
                                url: '/Items/ItemDelete',
                                data: objDelete,
                                success: function (msg) {
                                    objDelete = {};
                                    location.reload();
                                }
                            });
                        }
                        else {
                            location.reload();
                        }
                    });
                });
                //--------------------------------------------------------------------------------------------------------------

                $('.divUpdate').click(function () {
                    $('#btnUpdate' + $(this).attr('target')).show(function () {
                        DivUpdate_Id = $('#divInput' + $(this).attr('target')).val();
                        var objUpdate = { item_ID: DivUpdate_Id };
                        $.ajax({
                            type: 'GET',
                            url: '/Items/EditItems',
                            data: objUpdate,
                            success: function (item) {
                                //if (item.type == "Goods") {
                                //    $("#radioDiv1").prop("checked", true);
                                //    $("#radioDiv2").prop("checked", false);
                                //    //var item_Type = $(".radioDiv1").val();
                                //}
                                //else {
                                //    $("#radioDiv1").prop("checked", false);
                                //    $("#radioDiv2").prop("checked", true);
                                //    //var item_Type = $(".radioDiv2").val();
                                //}
                                $('#txtitemsName').val(item.name);
                                $('#txtItemsUnit').val(item.unit);
                                $('#txtsellingPrice').val(item.sellingPrice);
                                $('#txtDescription').val(item.description);
                                $('#txtItemTax').val(item.tax);
                            }
                        });


                    });
                });

                $('#btn_Update').click(function () {

                    var item_Type = $('input[name="optradio"]:checked').val();
                    var item_Name = $('#txtitemsName').val();
                    var item_Unit = $('#txtItemsUnit').val();
                    var item_SellingPrice = $('#txtsellingPrice').val();
                    var item_Description = $('#txtDescription').val();
                    var item_Tax = $('#txtItemTax').val();

                    var objUpdatePost = { item_ID: DivUpdate_Id, type: item_Type, name: item_Name, unit: item_Unit, sellingPrice: item_SellingPrice, description: item_Description, tax: item_Tax };
                    $.ajax({
                        type: 'POST',
                        url: '/Items/EditItems_Post',
                        data: objUpdatePost,
                        success: function (msg) {
                            location.reload();
                            $("#radioDiv1").prop("checked", false);
                            $("#radioDiv2").prop("checked", false);
                            $('#txtitemsName').val("");
                            $('#txtItemsUnit').val("");
                            $('#txtsellingPrice').val("");
                            $('#txtDescription').val("");
                            $('#txtItemTax').val("");
                        }
                    });
                });
            },
            error: function () {
                /* $('#termoneError').text('An error occurred');*/
            }
        });
    });

</script>

   