@model InvoiceManagementSystem.Controllers.AccountsController
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Thank You for confirming your email</h1>

