@model InvoiceManagementSystem.ViewModels.ForgetPasswordViewModel
@{
    ViewData["Title"] = "forgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <span><b>Admin</b>LTE</span>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" id="btnforgotpassword" class="btn btn-primary btn-block">Next</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>
