
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row" style="padding-top:100px">
        <div class="card">
            <div class="card-header"><h2>Reset Password</h2></div>
            <div class="card-body">
                <p>Your password is reset. Please click <a asp-action="Login">Here to Login</a></p>
            </div>

        </div>
    </div>
</div>
